<!DOCTYPE html>
<html>

<head>
	<title>
		The Yiff Guru - <%= locals.title || "Not Found" %>
	</title>
</head>

<body>
	<h1>
		<center>
			<%= locals.title || "Not Found" %>
		</center>
	</h1>
	<h2>
		<center>
			<%= locals.description || "Whater you were trying to get couldn't be found." %>
		</center>
	</h2>
</body>

</html>
