<body class="yiff">
	<style>
		body.yiff h2 {
			color: #ccc;
			padding-top: 2vh;
		}

		body.yiff a.confirm {
			margin-top: 7%;
			text-align: center;
			cursor: pointer;
			width: 10rem;
			height: 3rem;
			/*background: #3f5b5d;*/
			background: rgb(39, 38, 38);
			border: none;
			outline: none;
			color: #FFF;
			border-radius: 5px;
			align-self: center;
			padding: 2vh 4vh 2vh 4vh;
			text-decoration: none;
			font-size: xx-large;
		}

		body.yiff * {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}

		body.yiff {
			background-color: #222;
		}
	</style>
	<h2>
		<center>
			Hi, %NAME%! Please click the button below to confirm your email.
		</center>
	</h2>
	<br>
	<br>
	<center>
		<a class="confirm" href="%URL%">Confirm</a>
	</center>
</body>
