<%- include("../partials/header.ejs", { title: "Login" , showType: "login" }) %>
<link rel="stylesheet" href="/styles/login-register.css">
<script src="/scripts/login-register.js"></script>
<div class="wrap">
	<form id="loginRegisterModel" method="POST" action="/api/no-op" onsubmit="register(this); return false;">
		<div class="loginRegisterInner main">
			<h1><b>Register Below</b></h1>
			<input type="text" class="loginRegister" placeholder="Handle" name="handle" minlength="2"
				onkeyup="checkLen(this);" autocomplete="username">
			<input type="text" class="loginRegister" placeholder="Email" name="email" autocomplete="email">
			<input type="password" autocomplete="current-password" class="loginRegister" placeholder="Password"
				name="password" minlength="8" maxlength="64" onkeyup="checkLen(this);">
			<button id="loginRegister">Register</button>
		</div>
	</form>
</div>
<%- include("../partials/footer.ejs") %>
